# Within your virtualenviornment
# pip freeze >> requirements.txt
#
# !!! Don't forget declare the minimum !!!
# !!! requirements also in setup.py    !!!
#

# Additional, project deps
decorator==4.3.0
networkx==2.2
numpy==1.15.2
pandas==0.23.4
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
xlrd>=0.9.0
future
